@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lora';
}

.body {
    display: flex;
    flex-direction: column;
}

/* header css */

.header {
    width: 100%;
    height: 151px;
    padding-top: 35px;
    position: absolute;
    top: 0;
}

.header::before {
    content: "";
    width: 100%;
    height: 151px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to bottom, #000, transparent 100%);
    opacity: 40%;
}

.header-container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    opacity: none;
}

.logotype {
    height: 102px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.logo {
    width: 90px;
    height: 102px;
    background-image: url(/works/goGreen/img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.title {
    width: auto;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
}

.go-title {
    color: #fff;
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.5);
}

.green-title {
    color: #7DA85D;
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.25);
}

.nav {
    width: auto;
    height: 48px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.nav-item {
    height: 48px;
    width: auto;
    margin: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.nav-checked {
    color: #7DA85D;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

.menu {
    height: 50px;
    width: 50px;
    background-image: url(/works/goGreen/img/menu-burger.png);
    background-size: cover;
    z-index: 1;
    display: none;
}

/* hidden menu */

.burger {
    position: fixed;
    top: 151px;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;   
    overflow: hidden;    
}

.hidden-menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #DAFFD4;
}

.hidden-nav-item {
    width: auto;
    height: 50px;
    border: 2px solid #000;
    color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hidden-nav-checked {
    font-weight: 900;
    background-color: #8BCD81;
}

/* footer css */

.footer {
    width: 100%;
    height: 661px;
    display: flex;
    flex-direction: column;
}

.footer-plant {
    width: 100%;
    flex-grow: 1;
    background: url(/works/goGreen/img/leafs-bg.png) repeat-x;
    background-size: auto auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-contacts {
    height: 122px;
    width: 400px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
}

.contact-ways {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.contact-way {
    width: 64px;
    height: 64px;
    margin: 0 24px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tg {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: url(/works/goGreen/img/telegram.png)  no-repeat;    
    background-size: cover;
}

.pinterest {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: url(/works/goGreen/img/pinterest.png) no-repeat;
    background-size: cover;
}

.mail {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: url(/works/goGreen/img/mail.png)  no-repeat;    
    background-size: cover;
}

.wa {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: url(/works/goGreen/img/watsapp.png) no-repeat;
    background-size: cover;
}

.footer-picture {
    width: auto;
    height: 278px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(/works/goGreen/img/footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto auto;
    overflow: hidden;
}

.footer-picture > .logotype {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    backdrop-filter: brightness(0.3);
}

.footer-picture > .logotype > .title > .go-title {
    text-shadow: none;
    filter: brightness(1);
}

.footer-picture > .logotype > .title > .green-title {
    text-shadow: none;
    filter: brightness(1);
}

/* home css */

.home {
    width: 100%;
    height: auto;
    background-image: url(/works/goGreen/img/homeBackground.jpg);
    background-size: cover;
    background-position: right top;
    padding-top: 151px;
}

.home-content {
    width: 1000px;
    height: 100%;
    margin: 94px auto 0;
    padding-bottom: 50px;
}

.home::before {
    content: "";
    display: block;
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to left, #000, transparent 100%);
    opacity: 40%;
}

.home::after {
    content: "";
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #000, transparent 100%);
    opacity: 40%;
}

.home-text-h1 {
    margin-top: 94px;
    font-weight: 700;
    font-size: 96px;
}

.home-text-h2 {
    margin-top: 24px;
    font-weight: 400;
    font-size: 24px;
    color: #545454;
}

.join-button {
    width: 137px;
    height: 54px;
    margin-top: 64px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    background-color: #7DA85D;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}

/* main css */

.container {
    width: 1000px;
    height: auto;
    margin: 151px auto 0;
    display: flex;
    flex-direction: column;
}

/* about */

.about::before {
    content: "";
    width: 100%;
    height: 697px;
    background: url(/works/goGreen/img/about-top.png) no-repeat;
    background-size: 100% 100%;
    background-position: right top;
    position: absolute;
    top: 0;
    left: 0;    
}

.about-info-1 {
    width: auto;
    height: 546px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-top: 151px;
}

.about-text {
    height: 100%;
    width: 100%;
}

.about-text > p {
    margin: 24px 0 5px 0;
}

.about-info-2 {
    width: auto;
    height: 648px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    position: relative;
}

.about-info-2::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(/works/goGreen/img/about-top2.png);
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: 0 -250px;
    opacity: 50%;
}

.join-us {
    width: 1000px;
    height: 294px;
    margin: 68px auto 80px;
    background-color: #DAFFD4;
    border-radius: 16px;
    text-align: center;
    padding: 14px auto 42px;
    flex-wrap: wrap;
}

.about-info-4 {
    width: auto;
    height: 725px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.about-info-4::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/works/goGreen/img/about-top3.png);
    background-size: auto 150%;
    background-repeat: no-repeat;
    background-position: bottom right -200px;
    opacity: 50%;
}

/* services */

.services {
    display: flex;
    flex-direction: column;
}

.services > .container {
    width: 1297px;
}

.services-info {
    height: 920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* services header */

.services-info-header {
    text-align: center;
    position: relative;
}
.services-info-header > h1 > span {
    color: #7DA85D;
}

.services-header-utility {
    width: auto;
    height: 70px;
    display: flex;
    align-items: center;
    margin-top: 41px;
    align-self: center;
}

.services-header-utility > p {
    text-align: center;
    flex-grow: 1;
    margin: 0 44px;
}

.service-line {
    width: 183px;
    height: 50%;
    border-bottom: 1px solid #545454;
    align-self: flex-start;
}

/* services info */

.services-info-body {
    width: 100%;
    height: auto;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.services-body-picture {
    height: 560px;
    width: 424px;
    display: flex;
    justify-content: center;
    background-image: url(/works/goGreen/img/service-plant.png);
    background-size: 150% auto;
    background-repeat: no-repeat;
    background-position: left -100px top 20px;
    position: relative;
}

.services-body-picture::before {
    content: "";
    width: 313px;
    height: 560px;
    position: absolute;
    background: linear-gradient(0deg, rgba(125,168,93,0.06) 0%, rgba(255,255,255,0.38) 100%);
    border-radius: 50%;
    z-index: -1;
}

/* working points */

.points-first,
.points-last {
    width: 422px;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.points-first {
    text-align: right;
}

.points-last {
    text-align: left;
}

.service-point {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.point-text {
    width: 302px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.point-text > p {
    line-height: 20px;
}

.point-icon {
    width: 96px;
    height: 96px;
    background-color: #CFCFCF;
    border-radius: 50%;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wind-point {
    height: 72px;
    width: 72px;
    background: url(/works/goGreen/img/wind.png) no-repeat;
    background-size: contain;
}

.eco-point {
    height: 72px;
    width: 72px;
    background: url(/works/goGreen/img/eco.png) no-repeat;
    background-size: contain;
}

.protect-point {
    height: 54px;
    width: 54px;
    background: url(/works/goGreen/img/protect.png) no-repeat;
    background-size: contain;
}

.water-point {
    height: 72px;
    width: 72px;
    background: url(/works/goGreen/img/water.png) no-repeat;
    background-size: contain;
}

.recycle-point {
    height: 72px;
    width: 72px;
    background: url(/works/goGreen/img/recycle.png) no-repeat;
    background-size: contain;
}

.animal-point {
    height: 72px;
    width: 72px;
    background: url(/works/goGreen/img/animal.png) no-repeat;
    background-size: contain;
}


/* services testimonials */

.testimonials {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.testimonials > .service-line {
    align-self: center;
    margin: 40px auto 28px;
}

.testimonial {
    width: 100%;
    height: auto;
    background-color: #DAFFD4;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 54px;
}

.testimonial-photo {
    width: 280px;
    height: 280px;
    background-image: url(/works/goGreen/img/testamental-photo.png);
    background-size: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.testimonial-text {
    height: 280px;
    width: 804px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* blog */

.blog > .container {
    flex-direction: row;
    justify-content: space-between;
}

/* posts */

.posts {
    height: auto;
    width: 50%;   
}

.post {
    height: 880px;
    width: auto;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #D9D9D9;
}

.post-photo {
    width: auto;
    height: 228px;
}

#photo-post1 {
    background: url(/works/goGreen/img/post-1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
#photo-post2 {
    background: url(/works/goGreen/img/post-2.jpg);
    background-size: cover;
    background-position: center;
}
#photo-post3 {
    background: url(/works/goGreen/img/post-3.jpg);
    background-size: cover;
    background-position: center;
}

.post-info {
    width: 300px;
    height: 32px;
    margin: 24px auto 16px 27px;
    display: flex;
}

.post-info > p {
    font-size: 16px;
}

.post-name {
    width: 40%;
    height: 100%;
    padding-left: 40px;
    background-image: url(/works/goGreen/img/post-name.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    display: flex;
    align-items: center;
}

.post-comments {
    width: auto;
    height: 100%;
    padding-left: 40px;
    background-image: url(/works/goGreen/img/post-comments.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    display: flex;
    align-items: center;
}

.post-text {
    height: auto;
    padding: 0 40px;
}

.post-text > p {
    width: auto;
    font-size: 32px;
    line-height: 39px;
}

.read-more-button {
    width: 137px;
    height: 54px;
    margin: 33px 70px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    background-color: #7DA85D;
    border-radius: 16px;
    border: none;
    align-self: flex-end;
    cursor: pointer;
}

/* local navigation */

.local-nav {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}

/* recent posts */

.recent-posts {
    width: auto;
    height: 390px;
    margin: 138px 0 88px;
}

.recent-posts > .service-line,
.flick-photos > .service-line {
    width: 65px;
    height: 14px;
    border-bottom: 2px solid #7DA85D;
    margin-left: 25px;
}

.recent-post {
    width: auto;
    height: 90px;
    display: flex;
    margin-top: 24px;
    cursor: pointer;
}

.recent-post-text > h6 {
    margin-bottom: 12px;
}

.recent-post-icon {
    width: 90px;
    height: 90px;
    margin-right: 24px;
}

#recent-post1 {
    background: url(/works/goGreen/img/recent-post-1.jpg) center no-repeat;
    background-size: cover;    
}
#recent-post2 {
    background: url(/works/goGreen/img/recent-post-2.jpg) center no-repeat;
    background-size: cover;
}
#recent-post3 {
    background: url(/works/goGreen/img/recent-post-3.jpg) center no-repeat;
    background-size: cover;    
}

.recent-post-date {
    color: #D9D9D9;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-self: center;
}

/* flick photos */

.flick-photos {
    width: 310px;
    height: auto;
    margin-bottom: 88px;
}

.flick-photos > .service-line {
    margin-bottom: 14px;
}

.photos {
    width: auto;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo {
    width: 90px;
    height: 90px;
    cursor: pointer;
}

#photo1 {
    background: url(/works/goGreen/img/photo-1.jpg) center no-repeat;
    background-size: cover;
}
#photo2 {
    background: url(/works/goGreen/img/photo-2.jpg) center no-repeat;
    background-size: cover;
}
#photo3 {
    background: url(/works/goGreen/img/photo-3.jpg) center no-repeat;
    background-size: cover;
}
#photo4 {
    background: url(/works/goGreen/img/photo-4.jpg) center no-repeat;
    background-size: cover;
}
#photo5 {
    background: url(/works/goGreen/img/photo-5.jpg) center no-repeat;
    background-size: cover;
}
#photo6 {
    background: url(/works/goGreen/img/photo-6.jpg) center no-repeat;
    background-size: cover;
}

/* tags */

.tags {
    width: 420px;
    height: auto;
}

.tags > .service-line {
    width: 50px;
    height: 14px;
    border-bottom: 2px solid #7DA85D;
    margin-bottom: 35px;
}

.current-tags {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: -15px 0;
}

.left-collumn,
.right-collumn {
    display: flex;
    flex-direction: column;
}

.left-collumn {
    justify-content: space-between;
}

.right-collumn {
    justify-content: space-around;
}

.tag {
    width: 200px;
    height: 54px;
    background-color: #D9D9D9;
    border-radius: 8px;
    color: #545454;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* contact us */

.contact > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-person {
    height: 310px;
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
}

.contact-photo {
    width: 216px;
    height: 216px;
    cursor: pointer;
}

#contact-photo-1 {
        background: url(/works/goGreen/img/contact-1.png) center no-repeat;
    background-size: cover;
    border-radius: 50%;        
}
#contact-photo-2 {
        background: url(/works/goGreen/img/contact-2.png) center no-repeat;
    background-size: cover;
    border-radius: 50%;
}
#contact-photo-3 {
        background: url(/works/goGreen/img/contact-3.png) center no-repeat;
    background-size: cover;
    border-radius: 50%;
}
#contact-photo-4 {
        background: url(/works/goGreen/img/contact-4.png) center no-repeat;
    background-size: cover;
    border-radius: 50%;
}
#contact-photo-5 {
        background: url(/works/goGreen/img/contact-5.png) center no-repeat;
    background-size: cover;
    border-radius: 50%;
}
#contact-photo-6 {
        background: url(/works/goGreen/img/contact-6.png) center no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.contact-name {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

/* utility */

.hide {
    display: none;
}

.lock {
    overflow: hidden;
}

h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 88px;
    z-index: 1;
    border: none;
    font-family: 'Lora';
}

h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    margin: 14px auto 6px;
    font-family: 'Lora';
}

h3 {
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); 
}

h4 {
    font-weight: 600;
    font-size: 24px;
    color: #7DA85D;     
}

h5 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;  
}

h6 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;  
}

p {
    font-weight: 400;
    font-size: 24px;
    color: #545454;
    line-height: 43px;
    border: none    ;
}