/* header media */

@media screen and (max-width: 1100px) {
    .header-container {
        width: 800px;
    }

    .home-content {
        width: 800px;
    }
}

@media screen and (max-width: 900px) {
    .header-container {
        width: 600px;
    }

    .home-content {
        width: 600px;
    }

    .nav {
        display: none;
    }

    .menu {
        display: inline;
    }

    .home-text-h1 {
        font-size: 70px;
    }
    
    .home-text-h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .header-container {
        width: 400px;
    }

    .home-content {
        width: 400px;
    }

    .nav {
        display: none;
    }

    .menu {
        display: inline;
    }

    .home-text-h1 {
        font-size: 70px;
    }
    
    .home-text-h2 {
        font-size: 20px;
        color: #000;
    }
}

@media screen and (max-width: 450px) {
    .header-container {
        width: 300px;
    }

    .home-content {
        width: 300px;
    }

    

    .logo {
        display: none;
    }

    .home-text-h1 {
        margin-top: 50px;
        font-size: 50px;
    }
    
    .home-text-h2 {
        margin-top: 10px;
        font-size: 20px;
    }
}

@media screen and (max-width: 350px) {
    .header {
        height: auto;
    }

    .header-container {
        width: 200px;
    }

    .home-content {
        margin-top: 20px;
        width: 200px;
    }

    .title {
        font-size: 30px;
    }

    .home-text-h1 {
        margin-top: 10px;
        font-size: 50px;
    }
    
    .home-text-h2 {
        margin-top: 5px;
        font-size: 20px;
    }
}
 
/* footer media */

@media screen and (min-width: 1700px) {
    .footer-picture {
        background-size: 100% auto;
    }
}
@media screen and (max-width: 450px) {
    .contact-ways {
        flex-wrap: wrap;
    }
    .contact-way {
        margin: 20px 40px;
    }
    .footer-contacts {
        height: auto;
    }
}

/* main media */

@media screen and (max-width: 1300px) {
    .container {
        width: 1100px;
    }
}
@media screen and (max-width: 1100px) {
    .container {
        width: 800px;
    }
}
@media screen and (max-width: 900px) {
    .container {
        width: 600px;
    }
}
@media screen and (max-width: 600px) {
    .container {
        width: 400px;
    }
}
@media screen and (max-width: 450px) {
    .container {
        width: 300px;
    }
}
@media screen and (max-width: 350px) {
    .container {
        width: 200px;
    }
}

/* about */

/* about 1 */

@media screen and (max-width: 1100px) {
    .about::before {
        background-size: cover;
    }
}
@media screen and (max-width: 600px) {
    .about-info-1 {
        height: auto;
        padding-top: 0;
    }
}

/* about 2 */

@media screen and (max-width: 600px) {
    .about-info-2 {
        height: auto;
    }
}
@media screen and (max-width: 450px) {
    .about-info-2 {
        background-size: 100% auto;
    }

    .about-info-2::before {
        background-size: cover;
        background-position: bottom left -150px;
    }
}
@media screen and (max-width: 350px) {
    .about-info-2::before {
        background-size: cover;
        background-position: bottom left -230px;
    }
}

/* about 3 */

@media screen and (max-width: 1100px) {
    .join-us {
        width: 800px;
    }
}
@media screen and (max-width: 900px) {
    .join-us {
        width: 600px;
    }

    .join-us > p {
        margin: 24px 10px 5px;
    }

    .join-us > .join-button {
        margin-top: 10px;
    }
}
@media screen and (max-width: 600px) {
    .join-us {
        width: 400px;
    }
}
@media screen and (max-width: 450px) {
    .join-us {
        width: 300px;
    }

    .join-us > .join-button {
        margin-top: 20px;
    }
    
    .join-us > p {
        display: none;
    }
}
@media screen and (max-width: 350px) {
    .join-us {
        width: 200px;
    }
    .join-us > h2 {
        font-size: 34px;
    }
}

/* about 4 */

@media screen and (max-width: 600px) {
    .about-info-4 {
        height: auto;
    }
}
@media screen and (max-width: 450px) {
    .about-info-4 {
        background-size: 100% auto;
    }

    .about-info-4::before {
        background-size: cover;
    }
}
@media screen and (max-width: 350px) {
    .about-info-4 > .about-text > h1 {
        font-size: 34px;
    }

    .about-info-4::before {
        background-size: cover;
        background-position: bottom left -190px;
    }
}

/* services */

/* services main */

@media screen and (max-width: 1300px) {
    .services > .container {
        width: 1100px;
    }
}
@media screen and (max-width: 1100px) {
    .services > .container {
        width: 800px;
    }
}
@media screen and (max-width: 900px) {
    .services > .container {
        width: 600px;
    }
}
@media screen and (max-width: 600px) {
    .services > .container {
        width: 400px;
    }
}
@media screen and (max-width: 450px) {
    .services > .container {
        width: 300px;
    }
}
@media screen and (max-width: 350px) {
    .services > .container {
        width: 200px;
    }
}

/* services working points */

@media screen and (max-width: 1300px) {
    .services-body-picture {
        background-size: auto 80%;
        background-position: left -60px top 20px;
    }
}
@media screen and (max-width: 1100px) {
    .points-first{
        margin-right: 10px;
    }
    .points-last {
        margin-left: 10px;
    }
    .services-body-picture {
        display: none;
    }
    .points-first > .service-point {
        flex-direction: row-reverse;
    }
}
@media screen and (max-width: 900px) {
    .services-info {
        height: auto;
    }
    .services-info-body {
        height: auto;
        flex-direction: column;
    }
    .points-last > .service-point {
        flex-direction: row-reverse;
    }
    .services-info-body {
        align-items: center;
    }
}
@media screen and (max-width: 600px) {
    .point-text {
        display: none;
    }
    .points-first,
    .points-last {
        width: auto;
        height: auto;
        margin: 0;
        text-align: left;
    }
    .points-first > .service-point {
        flex-direction: row;
        margin: 20px auto;
    }
    .points-last > .service-point {
        flex-direction: row;
        margin: 20px auto;
    }
    .point-text {
        width: auto;
    }
    .services-header-utility > .service-line {
        display: none;
    }
}

/* testimonials */

@media screen and (max-width: 1300px) {
    .testimonial-text {
        width: 600px;
    }
}
@media screen and (max-width: 1100px) {
    .testimonial-text {
        width: 400px;
    }
}
@media screen and (max-width: 900px) {
    .testimonial {
        flex-direction: column;
    }

    .testimonial-photo {
        margin: 0;
    }

    .testimonial-text {
        width: auto;
    }

    .testimonial-text > h1 {
        text-align: center;
    }
}
@media screen and (max-width: 600px) {
    .testimonial-text {
        height: auto;
    }
}
@media screen and (max-width: 450px) {
    h3 {
       font-size: 50px; 
    }
}
@media screen and (max-width: 350px) {
    h3 {
        font-size: 30px; 
    }
}